supplements/mary/structure.dtd


<!--
DTD generated from ODD source 2021-07-26T11:45:49Z. .This template file is freely available and you are hereby authorised to copy, modify, and redistribute it in any way without further reference or permissions. When making such modifications, you are strongly recommended to change the present text to include an accurate statement of the licencing conditions applicable to your modified text.
TEI Edition: Version 4.2.2. Last updated on
	9th April 2021, revision 609a109b1
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.2.2/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % teidata.temporal.iso ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % tei_trh2021att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.responsibility.attributes '
 %tei_trh2021att.global.responsibility.attribute.cert;
 %tei_trh2021att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_trh2021att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.rendition.attributes '
 %tei_trh2021att.global.rendition.attribute.rend;
 %tei_trh2021att.global.rendition.attribute.style;
 %tei_trh2021att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_trh2021att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.source.attributes '
 %tei_trh2021att.global.source.attribute.source;'> 
<!ENTITY % tei_trh2021att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_trh2021att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.typed.attributes '
 %tei_trh2021att.typed.attribute.type;
 %tei_trh2021att.typed.attribute.subtype;'> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resource "text"> 
<!ENTITY % model.resource_sequence "text"> 
<!ENTITY % model.resource_sequenceOptional "text?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+"> 
<!ENTITY % tei_trh2021att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.analytic.attributes '
 %tei_trh2021att.global.analytic.attribute.ana;'> 
<!ENTITY % tei_trh2021att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.linking.attributes '
 %tei_trh2021att.global.linking.attribute.corresp;
 %tei_trh2021att.global.linking.attribute.synch;
 %tei_trh2021att.global.linking.attribute.sameAs;
 %tei_trh2021att.global.linking.attribute.copyOf;
 %tei_trh2021att.global.linking.attribute.next;
 %tei_trh2021att.global.linking.attribute.prev;
 %tei_trh2021att.global.linking.attribute.exclude;
 %tei_trh2021att.global.linking.attribute.select;'> 
<!ENTITY % tei_trh2021att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.custom.attributes '
 %tei_trh2021att.datable.custom.attribute.when-custom;
 %tei_trh2021att.datable.custom.attribute.notBefore-custom;
 %tei_trh2021att.datable.custom.attribute.notAfter-custom;
 %tei_trh2021att.datable.custom.attribute.from-custom;
 %tei_trh2021att.datable.custom.attribute.to-custom;
 %tei_trh2021att.datable.custom.attribute.datingPoint;
 %tei_trh2021att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % tei_trh2021att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.iso.attributes '
 %tei_trh2021att.datable.iso.attribute.when-iso;
 %tei_trh2021att.datable.iso.attribute.notBefore-iso;
 %tei_trh2021att.datable.iso.attribute.notAfter-iso;
 %tei_trh2021att.datable.iso.attribute.from-iso;
 %tei_trh2021att.datable.iso.attribute.to-iso;'> 
<!-- end of predeclared classes -->

<!ENTITY % tei_trh2021att.anchoring.attribute.anchored '
anchored %teidata.truthValue;  "true" '>

<!ENTITY % tei_trh2021att.anchoring.attribute.targetEnd '
targetEnd CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.anchoring.attributes '
 %tei_trh2021att.anchoring.attribute.anchored;
 %tei_trh2021att.anchoring.attribute.targetEnd;'> 
<!ENTITY % tei_trh2021att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.ascribed.attributes '
 %tei_trh2021att.ascribed.attribute.who;'> 
<!ENTITY % tei_trh2021att.ascribed.directed.attribute.toWhom '
toWhom CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.ascribed.directed.attributes '%tei_trh2021att.ascribed.attributes;
 %tei_trh2021att.ascribed.directed.attribute.toWhom;'> 
<!ENTITY % tei_trh2021att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % tei_trh2021att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.canonical.attributes '
 %tei_trh2021att.canonical.attribute.key;
 %tei_trh2021att.canonical.attribute.ref;'> 
<!ENTITY % tei_trh2021att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_trh2021att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_trh2021att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_trh2021att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_trh2021att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % tei_trh2021att.ranging.attributes '
 %tei_trh2021att.ranging.attribute.atLeast;
 %tei_trh2021att.ranging.attribute.atMost;
 %tei_trh2021att.ranging.attribute.min;
 %tei_trh2021att.ranging.attribute.max;
 %tei_trh2021att.ranging.attribute.confidence;'> 
<!ENTITY % tei_trh2021att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_trh2021att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % tei_trh2021att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % tei_trh2021att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % tei_trh2021att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.dimensions.attributes '%tei_trh2021att.ranging.attributes;
 %tei_trh2021att.dimensions.attribute.unit;
 %tei_trh2021att.dimensions.attribute.quantity;
 %tei_trh2021att.dimensions.attribute.extent;
 %tei_trh2021att.dimensions.attribute.precision;
 %tei_trh2021att.dimensions.attribute.scope;'> 
<!ENTITY % tei_trh2021att.breaking.attribute.break '
break %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.breaking.attributes '
 %tei_trh2021att.breaking.attribute.break;'> 
<!ENTITY % tei_trh2021att.cReferencing.attribute.cRef '
cRef %teidata.text;  #IMPLIED'>
<!ENTITY % tei_trh2021att.cReferencing.attributes '
 %tei_trh2021att.cReferencing.attribute.cRef;'> 
<!ENTITY % tei_trh2021att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.w3c.attributes '
 %tei_trh2021att.datable.w3c.attribute.when;
 %tei_trh2021att.datable.w3c.attribute.notBefore;
 %tei_trh2021att.datable.w3c.attribute.notAfter;
 %tei_trh2021att.datable.w3c.attribute.from;
 %tei_trh2021att.datable.w3c.attribute.to;'> 
<!ENTITY % tei_trh2021att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.attributes '%tei_trh2021att.datable.w3c.attributes;%tei_trh2021att.datable.iso.attributes;%tei_trh2021att.datable.custom.attributes;
 %tei_trh2021att.datable.attribute.calendar;
 %tei_trh2021att.datable.attribute.period;'> 
<!ENTITY % tei_trh2021att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.datcat.attributes '
 %tei_trh2021att.datcat.attribute.datcat;
 %tei_trh2021att.datcat.attribute.valueDatcat;'> 
<!ENTITY % tei_trh2021att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % tei_trh2021att.declarable.attributes '
 %tei_trh2021att.declarable.attribute.default;'> 
<!ENTITY % tei_trh2021att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % tei_trh2021att.docStatus.attributes '
 %tei_trh2021att.docStatus.attribute.status;'> 
<!ENTITY % tei_trh2021att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.responsibility.attributes '
 %tei_trh2021att.global.responsibility.attribute.cert;
 %tei_trh2021att.global.responsibility.attribute.resp;'> 
<!ENTITY % tei_trh2021att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % tei_trh2021att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % tei_trh2021att.editLike.attributes '
 %tei_trh2021att.editLike.attribute.evidence;
 %tei_trh2021att.editLike.attribute.instant;'> 
<!ENTITY % tei_trh2021att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.rendition.attributes '
 %tei_trh2021att.global.rendition.attribute.rend;
 %tei_trh2021att.global.rendition.attribute.style;
 %tei_trh2021att.global.rendition.attribute.rendition;'> 
<!ENTITY % tei_trh2021att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.source.attributes '
 %tei_trh2021att.global.source.attribute.source;'> 
<!ENTITY % tei_trh2021att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % tei_trh2021att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.attribute.xmlbase '
xml:base %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % tei_trh2021att.global.attributes '%tei_trh2021att.global.rendition.attributes;%tei_trh2021att.global.linking.attributes;%tei_trh2021att.global.analytic.attributes;%tei_trh2021att.global.responsibility.attributes;%tei_trh2021att.global.source.attributes;
 %tei_trh2021att.global.attribute.xmlid;
 %tei_trh2021att.global.attribute.n;
 %tei_trh2021att.global.attribute.xmllang;
 %tei_trh2021att.global.attribute.xmlbase;
 %tei_trh2021att.global.attribute.xmlspace;'> 
<!ENTITY % tei_trh2021att.internetMedia.attribute.mimeType '
mimeType CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.internetMedia.attributes '
 %tei_trh2021att.internetMedia.attribute.mimeType;'> 
<!ENTITY % tei_trh2021att.media.attribute.width '
width %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_trh2021att.media.attribute.height '
height %teidata.outputMeasurement;  #IMPLIED'>

<!ENTITY % tei_trh2021att.media.attribute.scale '
scale %teidata.numeric;  #IMPLIED'>
<!ENTITY % tei_trh2021att.media.attributes '%tei_trh2021att.internetMedia.attributes;
 %tei_trh2021att.media.attribute.width;
 %tei_trh2021att.media.attribute.height;
 %tei_trh2021att.media.attribute.scale;'> 
<!ENTITY % tei_trh2021att.resourced.attribute.url '
url %teidata.pointer;  #REQUIRED'>
<!ENTITY % tei_trh2021att.resourced.attributes '
 %tei_trh2021att.resourced.attribute.url;'> 
<!ENTITY % tei_trh2021att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % tei_trh2021att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.naming.attributes '%tei_trh2021att.canonical.attributes;
 %tei_trh2021att.naming.attribute.role;
 %tei_trh2021att.naming.attribute.nymRef;'> 
<!ENTITY % tei_trh2021att.notated.attribute.notation '
notation %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.notated.attributes '
 %tei_trh2021att.notated.attribute.notation;'> 
<!ENTITY % tei_trh2021att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % tei_trh2021att.placement.attributes '
 %tei_trh2021att.placement.attribute.place;'> 
<!ENTITY % tei_trh2021att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_trh2021att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.typed.attributes '
 %tei_trh2021att.typed.attribute.type;
 %tei_trh2021att.typed.attribute.subtype;'> 
<!ENTITY % tei_trh2021att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % tei_trh2021att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % tei_trh2021att.pointing.attributes '
 %tei_trh2021att.pointing.attribute.targetLang;
 %tei_trh2021att.pointing.attribute.target;
 %tei_trh2021att.pointing.attribute.evaluate;'> 
<!ENTITY % tei_trh2021att.segLike.attribute.function '
function %teidata.enumerated;  #IMPLIED'>
<!ENTITY % tei_trh2021att.segLike.attributes '%tei_trh2021att.datcat.attributes;
 %tei_trh2021att.segLike.attribute.function;'> 
<!ENTITY % tei_trh2021att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % tei_trh2021att.sortable.attributes '
 %tei_trh2021att.sortable.attribute.sortKey;'> 
<!ENTITY % tei_trh2021att.edition.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.edition.attribute.edRef '
edRef CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.edition.attributes '
 %tei_trh2021att.edition.attribute.ed;
 %tei_trh2021att.edition.attribute.edRef;'> 
<!ENTITY % tei_trh2021att.spanning.attribute.spanTo '
spanTo %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_trh2021att.spanning.attributes '
 %tei_trh2021att.spanning.attribute.spanTo;'> 
<!ENTITY % tei_trh2021att.citing.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % tei_trh2021att.citing.attribute.from '
from %teidata.word;  #IMPLIED'>

<!ENTITY % tei_trh2021att.citing.attribute.to '
to %teidata.word;  #IMPLIED'>
<!ENTITY % tei_trh2021att.citing.attributes '
 %tei_trh2021att.citing.attribute.unit;
 %tei_trh2021att.citing.attribute.from;
 %tei_trh2021att.citing.attribute.to;'> 
<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "s"> 
<!ENTITY % model.segLike_sequence "s"> 
<!ENTITY % model.segLike_sequenceOptional "s?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "s*"> 
<!ENTITY % model.segLike_sequenceRepeatable "s+"> 
<!ENTITY % model.hiLike "hi |q"> 
<!ENTITY % model.hiLike_sequence "hi, q"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?, q?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*, q*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+, q+"> 
<!ENTITY % model.emphLike "foreign |emph |distinct |soCalled |title"> 
<!ENTITY % model.emphLike_sequence "foreign, emph, distinct, soCalled, title"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, emph?, distinct?, soCalled?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, emph*, distinct*, soCalled*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, emph+, distinct+, soCalled+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic"> 
<!ENTITY % model.graphicLike_sequence "graphic"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+"> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike "ptr |ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike "milestone |lb"> 
<!ENTITY % model.milestoneLike_sequence "milestone, lb"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, lb?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, lb*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, lb+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |biblStruct |listBibl"> 
<!ENTITY % model.biblLike_sequence "bibl, biblStruct, listBibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, biblStruct?, listBibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, biblStruct*, listBibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, biblStruct+, listBibl+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |table"> 
<!ENTITY % model.listLike_sequence "list, table"> 
<!ENTITY % model.listLike_sequenceOptional "list?, table?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, table*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, table+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p |ab"> 
<!ENTITY % model.pLike_sequence "p, ab"> 
<!ENTITY % model.pLike_sequenceOptional "p?, ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*, ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+, ab+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.lLike; |%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+"> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart.agency "publisher |distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher, distributor"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?, distributor?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*, distributor*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+, distributor+"> 
<!ENTITY % model.publicationStmtPart.detail "%model.ptrLike; |date |pubPlace |idno |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "%model.ptrLike;, date, pubPlace, idno, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "%model.ptrLike;?, date?, pubPlace?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "%model.ptrLike;*, date*, pubPlace*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "%model.ptrLike;+, date+, pubPlace+, idno+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.quoteLike "quote |cit"> 
<!ENTITY % model.quoteLike_sequence "quote, cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "quote?, cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "quote*, cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "quote+, cit+"> 
<!ENTITY % model.attributable "%model.quoteLike; |floatingText"> 
<!ENTITY % model.attributable_sequence "%model.quoteLike;, floatingText"> 
<!ENTITY % model.attributable_sequenceOptional "%model.quoteLike;?, floatingText?"> 
<!ENTITY % model.attributable_sequenceOptionalRepeatable "%model.quoteLike;*, floatingText*"> 
<!ENTITY % model.attributable_sequenceRepeatable "%model.quoteLike;+, floatingText+"> 
<!ENTITY % model.respLike "author |editor |funder"> 
<!ENTITY % model.respLike_sequence "author, editor, funder"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, funder?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, funder*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, funder+"> 
<!ENTITY % model.divWrapper ""> 
<!ENTITY % model.divWrapper_sequence ""> 
<!ENTITY % model.divWrapper_sequenceOptional ""> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divWrapper_sequenceRepeatable ""> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divTopPart;+"> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front "head"> 
<!ENTITY % model.pLike.front_sequence "head"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.imprintPart "publisher |biblScope |pubPlace |distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |idno |%model.persNamePart;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, idno, %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, idno?, %model.persNamePart;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, idno*, %model.persNamePart;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, idno+, %model.persNamePart;+"> 
<!ENTITY % model.global "%model.milestoneLike; |%model.noteLike; |figure"> 
<!ENTITY % model.global_sequence "%model.milestoneLike;, %model.noteLike;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.milestoneLike;?, %model.noteLike;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.milestoneLike;*, %model.noteLike;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.milestoneLike;+, %model.noteLike;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |series |bibl |edition |extent |availability"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, series, bibl, edition, extent, availability"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, series?, bibl?, edition?, extent?, availability?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, series*, bibl*, edition*, extent*, availability*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, series+, bibl+, edition+, extent+, availability+"> 
<!ENTITY % model.frontPart "listBibl"> 
<!ENTITY % model.frontPart_sequence "listBibl"> 
<!ENTITY % model.frontPart_sequenceOptional "listBibl?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "listBibl*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "listBibl+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |%model.labelLike; |%model.listLike; |%model.attributable;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;, %model.attributable;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.attributable;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.attributable;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.attributable;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter; |q"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;, q"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?, q?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*, q*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+, q+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.highlighted; |%model.graphicLike; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.hiLike; |%model.emphLike; |%model.ptrLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.hiLike;, %model.emphLike;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.hiLike;?, %model.emphLike;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "encodingDesc |profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "editorialDecl |refsDecl"> 
<!ENTITY % model.encodingDescPart_sequence "editorialDecl, refsDecl"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "editorialDecl?, refsDecl?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "editorialDecl*, refsDecl*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "editorialDecl+, refsDecl+"> 
<!ENTITY % model.editorialDeclPart ""> 
<!ENTITY % model.editorialDeclPart_sequence ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptional ""> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable ""> 
<!ENTITY % model.profileDescPart "creation |langUsage |textClass"> 
<!ENTITY % model.profileDescPart_sequence "creation, langUsage, textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "creation?, langUsage?, textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "creation*, langUsage*, textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "creation+, langUsage+, textClass+"> 
<!ENTITY % model.resource "text"> 
<!ENTITY % model.resource_sequence "text"> 
<!ENTITY % model.resource_sequenceOptional "text?"> 
<!ENTITY % model.resource_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resource_sequenceRepeatable "text+"> 
<!ENTITY % tei_trh2021att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % tei_trh2021att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % tei_trh2021att.personal.attributes '%tei_trh2021att.naming.attributes;
 %tei_trh2021att.personal.attribute.full;
 %tei_trh2021att.personal.attribute.sort;'> 
<!ENTITY % tei_trh2021att.milestoneUnit.attribute.unit '
unit %teidata.enumerated;  #REQUIRED'>
<!ENTITY % tei_trh2021att.milestoneUnit.attributes '
 %tei_trh2021att.milestoneUnit.attribute.unit;'> 
<!ENTITY % tei_trh2021att.tableDecoration.attribute.role '
role %teidata.enumerated;  "data" '>

<!ENTITY % tei_trh2021att.tableDecoration.attribute.rows '
rows %teidata.count;  "1" '>

<!ENTITY % tei_trh2021att.tableDecoration.attribute.cols '
cols %teidata.count;  "1" '>
<!ENTITY % tei_trh2021att.tableDecoration.attributes '
 %tei_trh2021att.tableDecoration.attribute.role;
 %tei_trh2021att.tableDecoration.attribute.rows;
 %tei_trh2021att.tableDecoration.attribute.cols;'> 
<!ENTITY % tei_trh2021att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.analytic.attributes '
 %tei_trh2021att.global.analytic.attribute.ana;'> 
<!ENTITY % tei_trh2021att.global.linking.attribute.corresp '
corresp CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.sameAs '
sameAs %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.copyOf '
copyOf %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.next '
next %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.prev '
prev %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.exclude '
exclude CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.global.linking.attribute.select '
select CDATA  #IMPLIED'>
<!ENTITY % tei_trh2021att.global.linking.attributes '
 %tei_trh2021att.global.linking.attribute.corresp;
 %tei_trh2021att.global.linking.attribute.synch;
 %tei_trh2021att.global.linking.attribute.sameAs;
 %tei_trh2021att.global.linking.attribute.copyOf;
 %tei_trh2021att.global.linking.attribute.next;
 %tei_trh2021att.global.linking.attribute.prev;
 %tei_trh2021att.global.linking.attribute.exclude;
 %tei_trh2021att.global.linking.attribute.select;'> 
<!ENTITY % tei_trh2021att.datable.custom.attribute.when-custom '
when-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.notBefore-custom '
notBefore-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.notAfter-custom '
notAfter-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.from-custom '
from-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.to-custom '
to-custom CDATA  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.datingPoint '
datingPoint %teidata.pointer;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.custom.attribute.datingMethod '
datingMethod %teidata.pointer;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.custom.attributes '
 %tei_trh2021att.datable.custom.attribute.when-custom;
 %tei_trh2021att.datable.custom.attribute.notBefore-custom;
 %tei_trh2021att.datable.custom.attribute.notAfter-custom;
 %tei_trh2021att.datable.custom.attribute.from-custom;
 %tei_trh2021att.datable.custom.attribute.to-custom;
 %tei_trh2021att.datable.custom.attribute.datingPoint;
 %tei_trh2021att.datable.custom.attribute.datingMethod;'> 
<!ENTITY % model.persNamePart "surname |forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % tei_trh2021att.datable.iso.attribute.when-iso '
when-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.notBefore-iso '
notBefore-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.notAfter-iso '
notAfter-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.from-iso '
from-iso %teidata.temporal.iso;  #IMPLIED'>

<!ENTITY % tei_trh2021att.datable.iso.attribute.to-iso '
to-iso %teidata.temporal.iso;  #IMPLIED'>
<!ENTITY % tei_trh2021att.datable.iso.attributes '
 %tei_trh2021att.datable.iso.attribute.when-iso;
 %tei_trh2021att.datable.iso.attribute.notBefore-iso;
 %tei_trh2021att.datable.iso.attribute.notAfter-iso;
 %tei_trh2021att.datable.iso.attribute.from-iso;
 %tei_trh2021att.datable.iso.attribute.to-iso;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;|lg|%model.lLike;)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.attributable;|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resource class. Multiple TEI elements may be combined within a TEI (or teiCorpus) element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(((%model.resource;)+,(TEI)*)|(TEI)+)))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. Blocks, Segments, and Anchors] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. [3.12.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT analytic (author|editor|respStmt|title|%model.ptrLike;|date|textLang|idno|availability)*>
<!ATTLIST analytic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST analytic
 %tei_trh2021att.global.attributes; >
<!--doc:(author) in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement] -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.naming.attributes;
 %tei_trh2021att.datable.attributes; >
<!--doc:(availability) supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes;
status (free|unknown|restricted) #IMPLIED >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back (((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,(((_DUMMY_model.div1Like),(%model.frontPart;|_DUMMY_model.div1Like|%model.global;)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|%model.global;)*))?,((_DUMMY_model.divBottomPart),(_DUMMY_model.divBottomPart|%model.global;)*)?))>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %tei_trh2021att.global.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.sortable.attributes;
 %tei_trh2021att.docStatus.attributes; >
<!--doc:(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.12.2.5. Scopes and Ranges in Bibliographic Citations] -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.citing.attributes; >
<!--doc:(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements appear and in a specified order. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT biblStruct (((analytic)*,(monogr,(series)*)+,(%model.noteLike;|%model.ptrLike;|relatedItem|citedRange)*))>
<!ATTLIST biblStruct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblStruct
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.sortable.attributes;
 %tei_trh2021att.docStatus.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((_DUMMY_model.divGenLike),(%model.global;|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(%model.global;|_DUMMY_model.divGenLike)*)+)?)),((_DUMMY_model.divBottom),(%model.global;)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %tei_trh2021att.global.attributes; >
<!--doc:(cell) contains one cell of a table. [14.1.1. TEI Tables] -->
<!ELEMENT cell %macro.specialPara;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.tableDecoration.attributes; >
<!--doc:(change) documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.6. The Revision Description 2.4.1. Creation 11.7. Identifying Changes and Revisions] -->
<!ELEMENT change %macro.specialPara;>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %tei_trh2021att.ascribed.attributes;
 %tei_trh2021att.datable.attributes;
 %tei_trh2021att.docStatus.attributes;
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
target CDATA  #IMPLIED >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to its source. In a dictionary it may contain an example text with at least one occurrence of the word form, used in the sense being described, or a translation of the headword, or an example. [3.3.3. Quotation 4.3.1. Grouped Texts 9.3.5.1. Examples] -->
<!ELEMENT cit (%model.biblLike;|_DUMMY_model.egLike|_DUMMY_model.entryPart|%model.global;|%model.graphicLike;|%model.ptrLike;|%model.attributable;|pc|q)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(creation) contains information about the creation of a text. [2.4.1. Creation 2.4. The Profile Description] -->
<!ELEMENT creation (#PCDATA|%model.limitedPhrase;|listChange)*>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.datable.attributes; >
<!--doc:(date) contains a date in any format. [3.6.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.4. Dates] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.canonical.attributes;
 %tei_trh2021att.datable.attributes;
 %tei_trh2021att.editLike.attributes;
 %tei_trh2021att.dimensions.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [22.4.1. Description of Components] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:identifies any word or phrase which is regarded as linguistically distinct, for example as archaic, technical, dialectal, non-preferred, etc., or as forming part of a sublanguage. [3.3.2.3. Other Linguistically Distinct Material] -->
<!ELEMENT distinct %macro.phraseSeq;>
<!ATTLIST distinct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distinct
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
time %teidata.text;  #IMPLIED
space %teidata.text;  #IMPLIED
social %teidata.text;  #IMPLIED >
<!--doc:(distributor) supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.canonical.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body] -->
<!ELEMENT div (((%model.divTop;|%model.global;)*,((((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)*)),((_DUMMY_model.divBottom),(%model.global;)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(edition) describes the particularities of one edition of a text. [2.2.2. The Edition Statement] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %tei_trh2021att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. [2.2.2. The Edition Statement 2.2. The File Description] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %tei_trh2021att.global.attributes; >
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [3.12.2.2. Titles, Authors, and Editors] -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.naming.attributes;
 %tei_trh2021att.datable.attributes; >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied during the encoding of a text. [2.3.3. The Editorial Practices Declaration 2.3. The Encoding Description 15.3.2. Declarable Elements] -->
<!ELEMENT editorialDecl (%model.pLike;|_DUMMY_model.editorialDeclPart)+>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes; >
<!--doc:(emphasized) marks words or phrases which are stressed or emphasized for linguistic or rhetorical effect. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language] -->
<!ELEMENT emph %macro.paraContent;>
<!ATTLIST emph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST emph
 %tei_trh2021att.global.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the source or sources from which it was derived. [2.3. The Encoding Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT encodingDesc (%model.encodingDescPart;|%model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %tei_trh2021att.global.attributes; >
<!--doc:(extent) describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3. Type and Extent of File 2.2. The File Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 10.7.1. Object Description] -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %tei_trh2021att.global.attributes; >
<!--doc:(figure) groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. Specific Elements for Graphic Images] -->
<!ELEMENT figure (%model.headLike;|%model.common;|figDesc|%model.graphicLike;|%model.global;|_DUMMY_model.divBottom)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.placement.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)*,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %tei_trh2021att.global.attributes; >
<!--doc:(floating text) contains a single text of any kind, whether unitary or composite, which interrupts the text containing it at any point and after which the surrounding text resumes. [4.3.2. Floating Texts] -->
<!ELEMENT floatingText (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST floatingText xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floatingText
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other than that of the surrounding text. [3.3.2.1. Foreign Words or Expressions] -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %tei_trh2021att.global.attributes; >
<!--doc:(forename) contains a forename, given or baptismal name. [13.2.1. Personal Names] -->
<!ELEMENT forename %macro.phraseSeq;>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST forename
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.personal.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. The Title Statement] -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.canonical.attributes;
 %tei_trh2021att.datable.attributes; >
<!--doc:(graphic) indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [3.10. Graphics and Other Non-textual Components 11.1. Digital Facsimiles] -->
<!ELEMENT graphic (%model.descLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.media.attributes;
 %tei_trh2021att.resourced.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers] -->
<!ELEMENT head (#PCDATA|lg|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.placement.attributes; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language] -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %tei_trh2021att.global.attributes; >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [13.3.1. Basic Principles 2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.sortable.attributes;
 %tei_trh2021att.datable.attributes;
 %tei_trh2021att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:groups information relating to the publication or distribution of a bibliographic item. [3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT imprint (((classCode|catRef)*,((%model.imprintPart;|%model.dateLike;),(respStmt)*,(%model.global;)*)+))>
<!ATTLIST imprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprint
 %tei_trh2021att.global.attributes; >
<!--doc:(item) contains one component of a list. [3.8. Lists 2.6. The Revision Description] -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.sortable.attributes; >
<!--doc:(keywords) contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification] -->
<!ELEMENT keywords ((term)+|list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %tei_trh2021att.global.attributes;
scheme %teidata.pointer;  #IMPLIED >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. [3.13.1. Core Tags for Verse 3.13. Passages of Verse or Drama 7.2.5. Speech Contents] -->
<!ELEMENT l (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;)*>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %tei_trh2021att.global.attributes; >
<!--doc:(label) contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.8. Lists] -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.placement.attributes; >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements] -->
<!ELEMENT langUsage ((%model.pLike;)+|(language)+)>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes; >
<!--doc:(language) characterizes a single language or sublanguage used within a text. [2.4.2. Language Usage] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %tei_trh2021att.global.attributes;
ident %teidata.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line beginning) marks the beginning of a new (typographic) line in some edition or version of a text. [3.11.3. Milestone
Elements 7.2.5. Speech Contents] -->
<!ELEMENT lb  EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.edition.attributes;
 %tei_trh2021att.spanning.attributes;
 %tei_trh2021att.breaking.attributes; >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.pointing.attributes;
 %tei_trh2021att.datable.attributes; >
<!--doc:(list) contains any sequence of items organized as a list. [3.8. Lists] -->
<!ELEMENT list (((%model.divTop;|%model.global;|(desc)*)*,((item,(%model.global;)*)+|((headLabel)?,(headItem)?,(label,(%model.global;)*,item,(%model.global;)*)+)),((_DUMMY_model.divBottom),(%model.global;)*)*))>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.sortable.attributes;
 %tei_trh2021att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(citation list) contains a list of bibliographic citations of any kind. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT listBibl (((%model.headLike;)*,(desc)*,(%model.milestoneLike;|relation|listRelation)*,((%model.biblLike;)+,(%model.milestoneLike;|relation|listRelation)*)+))>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.sortable.attributes;
 %tei_trh2021att.declarable.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(milestone) marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. [3.11.3. Milestone
Elements] -->
<!ELEMENT milestone  EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.milestoneUnit.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.edition.attributes;
 %tei_trh2021att.spanning.attributes;
 %tei_trh2021att.breaking.attributes; >
<!--doc:(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). [3.12.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT monogr (((((author|editor|meeting|respStmt),(author|editor|meeting|respStmt)*,(title)+,(%model.ptrLike;|idno|textLang|editor|respStmt)*)|((title|%model.ptrLike;|idno)+,(textLang|author|editor|meeting|respStmt)*)|(authority,idno))?,(availability)*,(%model.noteLike;)*,(edition,(idno|%model.ptrLike;|editor|sponsor|funder|respStmt)*)*,imprint,(imprint|extent|biblScope)*))>
<!ATTLIST monogr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST monogr
 %tei_trh2021att.global.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.personal.attributes;
 %tei_trh2021att.datable.attributes;
 %tei_trh2021att.editLike.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(note) contains a note or annotation. [3.9.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.12.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries] -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.placement.attributes;
 %tei_trh2021att.pointing.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.anchoring.attributes; >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6. The Notes Statement 2.2. The File Description] -->
<!ELEMENT notesStmt (%model.noteLike;|relatedItem)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %tei_trh2021att.global.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %tei_trh2021att.global.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %tei_trh2021att.global.attributes; >
<!--doc:(pointer) defines a pointer to another location. [3.7. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ptr  EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %tei_trh2021att.cReferencing.attributes;
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.internetMedia.attributes;
 %tei_trh2021att.pointing.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.12.2.4. Imprint, Size of a Document, and Reprint Information] -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %tei_trh2021att.global.attributes; >
<!--doc:(publisher) provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.12.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.canonical.attributes; >
<!--doc:(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. Quotation] -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.ascribed.directed.attributes;
type %teidata.enumerated;  #IMPLIED >
<!--doc:(quotation) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [3.3.3. Quotation 4.3.1. Grouped Texts] -->
<!ELEMENT quote %macro.specialPara;>
<!ATTLIST quote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quote
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.notated.attributes; >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.7. Simple Links and Cross-References 16.1. Links] -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %tei_trh2021att.cReferencing.attributes;
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.internetMedia.attributes;
 %tei_trh2021att.pointing.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(references declaration) specifies how canonical references are constructed for this text. [2.3.6.3. Milestone Method 2.3. The Encoding Description 2.3.6. The Reference System Declaration] -->
<!ELEMENT refsDecl ((%model.pLike;)+|(citeStructure)+|(cRefPattern)+|(refState)+)>
<!ATTLIST refsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refsDecl
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes; >
<!--doc:(revision description) summarizes the revision history for a file. [2.6. The Revision Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT revisionDesc (list|listChange|(change)+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.docStatus.attributes; >
<!--doc:(row) contains one row of a table. [14.1.1. TEI Tables] -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.tableDecoration.attributes; >
<!--doc:(s-unit) contains a sentence-like division of a text. [17.1. Linguistic Segment Categories 8.4.1. Segmentation] -->
<!ELEMENT s %macro.phraseSeq;>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST s
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.segLike.attributes;
 %tei_trh2021att.typed.attributes;
 %tei_trh2021att.notated.attributes; >
<!--doc:(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.12.2.1. Analytic, Monographic, and Series Levels] -->
<!ELEMENT series (#PCDATA|_DUMMY_model.gLike|title|%model.ptrLike;|editor|respStmt|biblScope|idno|textLang|%model.global;|availability)*>
<!ATTLIST series xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST series
 %tei_trh2021att.global.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5. The Series Statement 2.2. The File Description] -->
<!ELEMENT seriesStmt ((%model.pLike;)+|((title)+,(editor|respStmt)*,(idno|biblScope)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes; >
<!--doc:(so called) contains a word or phrase for which the author or narrator indicates a disclaiming of responsibility, for example by the use of scare quotes or italics. [3.3.3. Quotation] -->
<!ELEMENT soCalled %macro.phraseSeq;>
<!ATTLIST soCalled xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST soCalled
 %tei_trh2021att.global.attributes; >
<!--doc:(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|%model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %tei_trh2021att.global.attributes; >
<!--doc:(surname) contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. Personal Names] -->
<!ELEMENT surname %macro.phraseSeq;>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST surname
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.personal.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(table) contains text displayed in tabular form, in rows and columns. [14.1.1. TEI Tables] -->
<!ELEMENT table (((%model.headLike;|%model.global;)*,((row,(%model.global;)*)+|((%model.graphicLike;),(%model.global;)*)+),((_DUMMY_model.divBottom),(%model.global;)*)*))>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes;
rows %teidata.count;  #IMPLIED
cols %teidata.count;  #IMPLIED >
<!--doc:(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(%model.teiHeaderPart;)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %tei_trh2021att.global.attributes; >
<!--doc:(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((%model.global;)*,(front,(%model.global;)*)?,(body|group),(%model.global;)*,(back,(%model.global;)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. The Text Classification] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.declarable.attributes; >
<!--doc:(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %tei_trh2021att.global.attributes;
 %tei_trh2021att.typed.attribute.subtype;
 %tei_trh2021att.canonical.attributes;
 %tei_trh2021att.datable.attributes;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %tei_trh2021att.global.attributes; >
<!-- end elements -->
